.App {
  text-align: center;
}
#root{
  padding-top: 200px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.DivchikForm{
  margin: 0 auto;
  width: 800px;
  text-align: center;
  padding: 30px 0;
}

.DivchikForm input { 
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
}

.DivchikForm button{
  color: #fff;
  background: transparent;
  margin: 15px;
  border: none;
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Actions{
  max-width: 100px;
  display: flex;
  float: right;
  position: absolute;
  right: 10px;
}

.Actions div div input {
  position: absolute;
  left: -300px;
}

html{
  background: linear-gradient(#173F5F, #20639B);
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 100px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  background: #f6D55C;
  padding: 10px;
  border-radius: 5px;;
}
.userlist{
  max-width: 150px;
  margin-left: 0;
}
.MenuTop ul{
  list-style-type: none;
}
.avatart{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100%;
}
.UserHeader{
  padding: 10px 0;
  background: #ED553B;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 25px;
  text-transform: uppercase;
}
.MenuTop li{
  max-width: 250px;
  padding: 10 30px;
  display: inline-block;
  margin: 0 20px;
}
.chatWindow{
  width: 100%;
  background: #f6D55C
}
.MenuTop li a{
  padding: 10px 30px;
  color: #fff;
}
.ZalupkaUpUpka{
  margin: 0 auto;
  max-width: 800px;
  display: flex;
}
li{
  margin: 10px 0;
  color: #fff;
  background: #ED553B;
}

li input {
  width: 250px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
ul li button{
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
}

ul li{
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
}
.mesasgeContainer{
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  left: 0;
  text-align: center;
  background: #ED553B;
  position: relative;
}
li.opposite{
  text-align: left;
}
li.my{
  text-align: right;
}
.mesasgeContainer textarea{
  width: 400px;
  height: 130px;
  background: transparent;
  border: none;
  background: #20639B;
  outline: none;
  color: #fff;
  resize: vertical;
}

.mesasgeContainer button{
  position: absolute;
  right: 10px;
  top: 10px;
  background: #f6D55C;
  cursor: pointer;
  color: #000;
  border: none;
  outline: none;
  padding: 5px 20px; 
  font-size: 18px;
  font-weight: bold;
}

.MenuTop{
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.chatWindowWrap{
  flex-grow: 1;
  margin-left: 20px;
}

.chatWindow{
  position: relative;
  height: 606px;
  overflow-y: scroll;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
