.drum-kit{
    display: block;
    margin: 0 auto;
    width: 600px;
}

.sounds{
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.key{
    display: inline-block;
    transition: all ease-in-out .042s;
    background: #eaeaea;
    font-size: 1.5em;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 4px;
    border: 3px solid #aaa;
    color: #444;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 65%);
    z-index: 2;
    position: absolute;
}
.Kick{
    position: absolute;
    bottom: 150px;
    left: 290px
}
.Snare{
    position: absolute;
    bottom: 200px;
    left: 425px;
}
.Hat-Close{
    position: absolute;
    bottom: 270px;
    right: 120px;
}
.Hat-Open{
    position: absolute;
    bottom: 370px;
    right: 120px;
}